<div class="back">
  <div class="formulaire">
    <h1 style="text-align: center; font-weight: bolder;">Admin</h1>
    <hr>
    <div class="form-group">
      <label for="email">Nom d'utilisateur:</label>
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1"><span class="fa fa-user"></span></span>
        <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1" [(ngModel)]="this.username">
      </div>
    </div>
    <div class="form-group">
      <label for="pwd">Mots de passe:</label>
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1"><span class="fa fa-lock"></span></span>
        <input type="password" class="form-control" placeholder="password" aria-label="Username" aria-describedby="basic-addon1" [(ngModel)]="this.password">
      </div>
    </div>
    <div class="checkbox">
      <label><input type="checkbox"> Se souvenir de moi</label>
    </div>
    <hr>
    <div class="text-center" style="margin-bottom: 2%; display: none;" id="spinner">
      <div class="spinner-border" role="status">
      </div>
    </div>
    <div class="alert alert-danger" role="alert" id="errorMessage" style="display: none;">
    </div>
    <div style="text-align: center;">
      <button (click)="this.Login()" class="btn btn-default" style="width: 50%; border-radius: 20px;background: linear-gradient(to right, #99ddff , #d147a3); color: white;">Se connecter</button>
    </div>
  </div>
</div>
